<div class="all-posts">
  @if (allPosts | async; as posts;) {
    @if (posts.length > 0) {
      @for (post of posts; track post._id) {
        <app-single-post [post]="post"></app-single-post>
      }
    } @else {
      <app-no-more-posts></app-no-more-posts>
    }
  }
  @else {
    <div style="width: 100%;display:flex;flex-direction:column">
    @for (i of [0, 1, 2, 3, 4]; track i) {
    <app-posts-skeleton></app-posts-skeleton>
    }
    </div>
  }
</div>

<div class="all-friends">
    
</div>