
:host{
    display: flex;
}

.all-posts{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-friends{
    width: 30%;
    height: 100%;
}

.post-template-main:first-child {
    margin-top: 30px;
}

.post-template-main{
    width: 70%;
    height: 700px;
    background-color: aquamarine;
    margin: 15px 0px 15px 0px;
    border-radius: .6rem;
    display: grid;
    place-items: center;
    font-size: 30px;
    color: black;
}


@media(max-width:800px) {

    :host{
        align-items: center;
    }

    .all-posts{
        width: 100%;
    }

    .all-friends{
        width: 0%;
    }

    .post-template-main{
        width: 100%;
        margin: 10px 0px 10px 0px;
    }
  }