<div class="home-index-main">
  <div class="nav-button-lists enableScroll common-home-index-sub">
    <div class="nav-button-list-sub">
      <div class="divider-text">
        <app-divider [text]="'My Space'"></app-divider>
      </div>
      <app-post-buttons></app-post-buttons>


      <div class="divider-text">
        <app-divider [text]="'My Bits'"></app-divider>
      </div>
      <app-nav-buttons></app-nav-buttons>

      <div class="divider-text-last">
        <app-divider></app-divider>
      </div>
    </div>

  </div>
  <div class="main-content enableScroll common-home-index-sub" #scrollContainer (scroll)="throttledOnScroll($event)">
    <router-outlet></router-outlet>
  </div>
</div>