.home-index-main{
  display: flex;
  flex: 1; 
  margin-top: 80px; 
  height: calc(100vh - 80px); 
}


.nav-button-lists{
  width: 220px; 
  padding: 20px;
  position: fixed; 
  overflow-y: auto;
  overflow-x: hidden;
  top: 80px; 
  height: calc(100vh - 80px);
  scrollbar-color:  var(--main-background-color) var(--main-background-color); 
}

.nav-button-lists:hover{
  scrollbar-color: var(--scroll-hover-color) var(--scroll-hover-stick-color); 
}


.nav-button-list-sub{
  width: 200px;
}

.main-content{
  margin-left: 250px;
  padding: 20px;
  overflow-y: scroll; 
  height: calc(100vh - 80px); 
  box-sizing: border-box;
  flex: 1; 
}

.common-home-index-sub{
  background-color: var(--main-background-color);
  scrollbar-width: thin; 
}

.divider-text {
  margin: 15px 0px 15px 0px;
}


@media(max-width:800px) {

  .home-index-main{
    margin-top: 0px; 
    height: 100%; 
  }
  
  .nav-button-lists{
    display: none;
  }

  .enableScroll{
    overflow-y: unset;
  }

  .main-content{
    width: 100%;
    margin: 0px 0px 0px 0px;
    height: calc(100vh - 80px); 
    border-right: unset;
    border-left: unset;
    overflow-y: scroll; 
  }
}
