<div class="home-index-main">
  <div class="nav-button-lists enableScroll home-sub-common" appDisableScrollOnHover>
    <div class="nav-button-list-sub">
      <p-divider align="center" type="solid">
        <b>My Space</b>
      </p-divider>
      <app-post-buttons></app-post-buttons>


      <p-divider align="center" type="solid">
        <b>My Bits</b>
      </p-divider>
      <app-nav-buttons></app-nav-buttons>
    </div>

  </div>
  <div class="main-content enableScroll home-sub-common" appDisableScrollOnHover>
    <router-outlet></router-outlet>
  </div>
</div>