.home-index-main{
  display: flex;
  flex: 1; /* Take the remaining space below the header */
  margin-top: 80px; /* Same height as the header */
  height: calc(100vh - 80px); /* Adjust height for header */
}


.enableScroll{
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-button-lists{
  width: 250px; 
  background-color: var(--main-background-color);
  padding: 20px;
  position: fixed; 
  overflow-y: auto;
  overflow-x: hidden;
  top: 80px; 
  height: calc(100vh - 80px); 
}


.nav-button-list-sub{
  width: 200px;
}

.main-content{
  margin-left: 250px; /* Same width as sidebar */
  padding: 20px;
  background-color: var(--main-background-color);
  overflow-y: scroll; /* Enable scrolling for main content */
  height: calc(100vh - 80px); /* Adjust height for header */
  box-sizing: border-box;
  flex: 1; /* Take remaining width */
}

::ng-deep .p-divider {
  margin: 12px 0px 12px 0px;
  align-items: flex-start;
}

::ng-deep .p-divider-content {
  background-color: var(--main-background-color);
}


@media(max-width:800px) {

  .home-index-main{
    margin-top: 0px; /* Same height as the header */
  }
  
  .nav-button-lists{
    display: none;
  }

  .enableScroll{
    overflow-y: unset;
  }

  .main-content{
    width: 100%;
    margin: 0px 0px 0px 0px;
    border-right: unset;
    border-left: unset;
  }
}
