:host {
  background-color: var(--main-background-color);
  width: 100%;
  margin-top: 80px;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-main {
  padding: 20px 10px 20px 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.input-box {
  width: 100%;
  height: 60px;
  position: relative;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box input {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  outline: none;
  font-size: 20px;
}

.password-eye {
  cursor: pointer;
  position: absolute;
  top: -9px;
  right: 12px;
}


.input-box input:focus {
  box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 1);
}

.input-box label {
  position: absolute;
  top: 2px;
  left: 0;
  pointer-events: none;
  transition: .3s;
}

.input-box label.focused {
  top: -15px;
  font-size: 12px;
  color: #ff8c00;
  /* Optional: Add a focused color */
  transition: .3s;
}

.input-invalid-text-login {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: flex-start;
}

.input-invalid-text-login span{
  font-size: 14px;
  color:rgb(255, 82, 82);
}

.remember-me-label {
  margin-left: 5px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.remember-me-div {
  display: flex;
  align-items: center;
}

.login-div {
  display: flex;
  justify-content: space-between;
}

::ng-deep .pi {
  /* Your custom styles here */
  margin-left: 8px;
}

@media(max-width:800px) {
  :host {
    margin-top: 0px;
    height: 100%;
  }

  .login-main {
    width: 95%;
  }
}