<div class="auth-buttons">
  @if(!(authService.isAuthenticated | async)){
    <button routerLink="/login" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="selected" (click)="closeSidebar()">Login</button>
    <button routerLink="/register" routerLinkActive="selected" (click)="closeSidebar()">Register</button>
  }
  @else if ((authService.isAuthenticated | async)) {
    <button class="logout-btn">Logout</button>
  }
  <!-- <button routerLink="/login" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="selected" (click)="closeSidebar()">Login</button>
  <button routerLink="/register" routerLinkActive="selected" (click)="closeSidebar()">Register</button>
  <button class="logout-btn">Logout</button> -->
</div>