:host{
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 20px;
}

input{
  width: 60%;
  height: 40px;
  color: black;
  border-radius: 30px;
  padding-left: 20px;
  outline: none;
  border: 5px solid rgb(53, 53, 53);
}

@media(max-width:800px) {

  input{
    width: 80%;
  }
  
}