<div class="forget-password-main">

  <p>{{ username_email }}</p>
  <p>{{ username_email }}</p><p>{{ username_email }}</p>
  <p>{{ username_email }}</p>
  <p>{{ username_email }}</p><p>{{ username_email }}</p>
  <p>{{ username_email }}</p>
  <p>{{ username_email }}</p><p>{{ username_email }}</p>
  <p>{{ username_email }}</p>
  <p>{{ username_email }}</p><p>{{ username_email }}</p>
  <p>{{ username_email }}</p>
  <p>{{ username_email }}</p><p>{{ username_email }}</p>
  <p>{{ username_email }}</p>
  <p>{{ username_email }}</p><p>{{ username_email }}</p>
  
  <app-close-button [fillColor]="'#000000'" (click)="closeComponentFunction()"></app-close-button>
</div>