.forget-password-main{
  width: 60%;
  padding: 10px;
  border: 3px solid rgba(220, 158, 82, 0.649);;
  position: absolute;
  top:50%;
  left:50%;
  border-radius: 5px;
  transform: translate(-50%,-50%);
  background-color: rgba(220, 158, 82, 0.855);
}

app-close-button{
  position: absolute;
  top:0;
  right:0;
  cursor: pointer;
}