<!-- Link for Logo Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Playwrite+CZ:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Satisfy&display=swap" rel="stylesheet">


<header>
  <h1 routerLink="">{{pageTitle()}}</h1>

  @if(windowWidth() > 800){
    <app-auth-buttons></app-auth-buttons>
  }
  
  
  <app-header-sidenavbar></app-header-sidenavbar>
</header>
