<textarea #postContent class='post-text' type="text" autofocus placeholder="Hi, What u wanna share?" (focus)="onFocus()"
  (blur)="onBlur()" (input)="onInput($event)" name="message" [(ngModel)]="message"
  (input)="adjustHeight($event)"></textarea>

@if(myImages){
<div class="image-container">

  @for (image of myImages; track image) {
  <div class="image-border">
    <div class="image-wrapper">
      <!-- Uploaded image -->
      <img [src]="image.uploadedImages" alt="Uploaded Image" />
    </div>
    <!-- Title of the image -->
    <div class="title-image">
      {{ image.title }} <!-- Display the title for each image -->
    </div>


    <!-- Close button -->
    <!-- <img rel="prefetch" class="remove-img-btn" (click)="removeImage(image.uploadedImages)" src="assets/SVG/close-btn.svg"
      alt="CloseButton" /> -->
    <app-close-button class="remove-img-btn" (click)="removeImage(image.uploadedImages)"
      alt="CloseButton"></app-close-button>
  </div>
  }

</div>
}




<div class="extra-info">
  <select id="visibility" class="visibility-select-box" [(ngModel)]="selectedOption"
    (ngModelChange)="emitSelectedOption()">
    @for (option of selectBoxOptions(); track option.hobbie) {
    @if(option.name != 'music'){
    <option [value]="option.hobbie">
      {{ option.hobbie }}
    </option>
    }
    }
  </select>

  <div class="emoji-picker-class">

    <label for="attach_img" style="display:grid;place-items:center">
      <svg-attach-items class="attachFiles"></svg-attach-items>
    </label>
    <input style="display:none" id="attach_img" type="file" accept="image/*" multiple
      (change)="onImageUpload($event)" />

    <!-- <button class="emoji-picker-btn" [ngStyle]="showEmojiPicker() ? { filter: 'unset', transform: 'scale(1.1)' } : {}"
      pTooltip="Emoji" tooltipPosition="top" positionLeft="-3" (mouseenter)="showEmojiPicker() ? null : emojiRandom()"
      (click)="toggleEmojiPicker()">{{emojiButton()}}</button>

    @if(showEmojiPicker()==true){
    <emoji-mart class="emoji-mart" (emojiSelect)="addEmoji($event)" title="Pick your emoji…"></emoji-mart>
    } -->

    <app-emoji-picker (emojiSelected)="addEmoji($event)" [isTextareaFocused]="showEmojiPicker()"></app-emoji-picker>

  </div>

</div>

<button [disabled]="!postContent.value.trim() && myImages.length === 0" class="post"
  (click)="uploadPost()">Post</button>