:host{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.disk{
  display: inline-block;
  position: absolute;
  left: -30vw;
  top:50%;
  border-radius: 50%;
  transform: translateY(-50%); 
  animation: rotate 5s linear infinite;
  animation-play-state: paused; 
}

.disk-rotate{
  animation-play-state: running; 
}

.play-pause{
  width: 10vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* Keyframes for rotation */
@keyframes rotate {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

.music-data-main{
  width: 34vw;
  height: 100%;
  border: 2px solid red;
  float: right;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.songprogress{
  margin-top: 20px;
  border: 1px solid black;
  width: 100%;
  box-sizing: border-box;
}

