:host {
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 0;
}

.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease;
  border: 2px solid transparent;
}

.pfp:hover {
  box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.7);
}


.highlighted {
  box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.7);
  /* Glow effect */
}