  <div class="post-template-main"> 
    <div class="post-template-header">
      <div class="pfp-div">
        <img [src]="post.db_username_pfp" [alt]="post.db_username" />
      </div>
      <div class="about-user-div">
        <div class="username">{{ post.db_username }}</div>
        <div class="post-creation-date" 
             (mouseenter)="showCreatePostTime(post.db_postCreationDate, $event)" 
             (mouseleave)="hideCreatePostTime()">
          {{ post.db_postCreationDate | postsTimeAgo }}
        </div>
        <div style="font-size: 13px; opacity:0.9 ;color:rgb(255, 255, 255); margin-left: 2px; cursor: default;margin-top: 5px;">
          <u>{{ post.db_postTopic }}</u>
        </div>
        @if (tooltipVisible) {
          <div class="tooltip" [style.top.px]="tooltipY" [style.left.px]="tooltipX">
            {{ tooltipText }}
          </div>
        }
      </div>
  
      @if (($user | async)?.db_username == post.db_username) {
        <div class="can-deleted-div" appTooltip="Delete Post!">
          <app-close-button [appLoaderButtonDirective]="isLoading" (click)="deletePost(post._id)" [fillColor]="'#ffffff'"></app-close-button>
        </div>
      }
    </div>
  
    <div class="post-template-main-content">
      @if (post.db_postText) {
        <app-post-text [post]="post"></app-post-text>
      }
  
      @if (post.db_postPics!.length > 0) {
        <app-post-images [images]="post.db_postPics"></app-post-images>
      }
    </div>
  </div>

