.FN,
ul li span {
  font-weight: 700
}

.left-bottom-about-me p,
.personal-info-main ul li,
.username {
  overflow-wrap: break-word;
  word-break: break-word
}

:host {
  width: 40%;
  background-color: var(--main-background-color);
  height: 100%;
  display: grid;
  place-items: center
}

.display-profile-main {
  width: 90%;
  height: 90%;
  background-color: #ff0;
  border-radius: 10px;
  display: grid;
  place-items: center
}

.PI-common,
.paper-header,
.profile-paper-main,
.profile-pic,
.profile-pic-wrapper {
  border: 2px solid #000
}

.profile-paper-main {
  position: relative;
  background-color: #fff8eb;
  width: 90%;
  height: 90%
}

.paper-header {
  background-color: #487284;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative
}

.full-name,
ul {
  flex-direction: column
}

.clip,
.pin,
.profile-pic-wrapper {
  position: absolute
}

.full-name-wrapper {
  width: 60%;
  height: 100%;
  display: grid;
  place-items: center
}

.full-name {
  display: flex;
  align-items: center
}

.FN {
  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  transform: scaleY(1.7);
  font-style: normal
}

.LN,
ul li {
  font-size: 20px
}

.username,
ul li {
  font-weight: 400;
  font-style: normal
}

.clip {
  top: -53px
}

.pin {
  width: 40px;
  top: -10px;
  left: 30px;
  transform: rotate(359deg);
  z-index: 10
}

.show-display-profile {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0
}

.profile-pic-wrapper {
  top: -10px;
  left: 0;
  width: 39%;
  height: 40%;
  background-color: #76abc5;
  display: flex;
  justify-content: center;
  transform: rotate(-5deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.profile-pic {
  width: 95%;
  height: 70%;
  margin: 5px
}

.profile-pic-img {
  width: 100%;
  height: 100%;
  background-color: #323232;
  object-fit: cover
}

.username {
  height: 30%;
  background-color: #76abc5;
  display: grid;
  place-items: center;
  font-family: Caveat, cursive;
  font-size: 30px;
  padding: 10px
}

.main-content {
  width: 100%;
  height: 75%;
  display: flex
}

.left {
  width: 40%
}

.right {
  width: 60%;
  border-left: 2px solid #000
}

.personal-info-main {
  width: 100%;
  height: 50%;
  z-index: 10
}

.PI3,
ul {
  height: 100%
}

.PI-common {
  width: 100%;
  background-color: #ffdcd8;
  z-index: 1000
}

.PI3 {
  transform: rotate(7deg);
  border-radius: 20px;
  position: relative
}

.PI1,
.PI2 {
  top: 8px;
  right: 8px;
  border-radius: 5px;
  position: absolute
}

.PI2 {
  height: 95%
}

.PI1 {
  height: 97%;
  transform: rotate(-2deg);
  font-size: 14px
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-left: 22px
}

ul li {
  color: #000;
  font-family: Lacquer, system-ui
}

ul li span {
  color: #000
}

.personal-info-main ul li {
  font-style: normal;
  font-family: cursive
}

.left-top {
  width: 100%;
  height: 30%
}

.left-bottom-about-me {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  padding: 5px
}

.left-bottom-about-me h3 {
  color: #000;
  font-size: 25px;
  font-weight: 600;
  text-decoration: underline
}

.left-bottom-about-me p {
  width: 100%;
  flex: 1;
  color: #000;
  overflow-y: auto
}

@media(max-width:1300px) {
  :host {
    width: 100%;
    height: 100%
  }

  .display-profile-main {
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: grid;
    place-items: center
  }
}