<form class="reset-password-main" [formGroup]="resetPasswordForm" (ngSubmit)="submitForm()">
  <div style="font-size: 30px; color:black">Reset Your Password</div>

  <!-- Username or Email -->
  <div class="input-box">
    <input #usernameInput (focus)="inputFocus(usernameLabel)" (blur)="inputBlur(usernameLabel, usernameInput)"
      type="text" formControlName="username" />
    <label #usernameLabel [ngClass]="{'focused': resetPasswordForm!.get('username')?.value}">
      Your username
    </label>
  </div>


  <!-- Password -->
  <div class="input-box input-box-password">
    <input #passwordInput (focus)="inputFocus(passwordLabel)" (blur)="inputBlur(passwordLabel, passwordInput)"
      [type]="passwordEyeFlag() ? 'text' : 'password'" formControlName="password" />
    <label [ngClass]="{'focused': resetPasswordForm!.get('password')?.value}" #passwordLabel>
      Enter your new password
    </label>

    <!-- Password Hide and Show -->
    @if(passwordEyeFlag()){
    <app-password-show [color]="'#000000'" (click)="passwordEye()" class="password-eye"></app-password-show>
    }@else{
    <app-password-hide [color]="'#000000'" (click)="passwordEye()" class="password-eye"></app-password-hide>
    }


    <!-- Invalid Text -->
    <div class="input-invalid-text-login-passoword">
      <span class="invalid-text" *ngIf="passwordValidator && passwordValidator.invalid && passwordValidator.touched">
        {{toolTip}}
      </span>
    </div>
  </div>


  <!-- Confirm Passowrd -->
  <div class="input-box">
    <input #confirmPasswordInput (focus)="inputFocus(confirmPasswordLabel)"
      (blur)="inputBlur(confirmPasswordLabel, confirmPasswordInput)" type="password"
      [type]="passwordEyeFlag() ? 'text' : 'password'" formControlName="confirmPassword" />
    <label [ngClass]="{'focused': resetPasswordForm!.get('confirmPassword')?.value}" #confirmPasswordLabel>Confirm your
      new password</label>


    <!-- Password Hide and Show -->
    @if(passwordEyeFlag()){
    <app-password-show [color]="'#000000'" (click)="passwordEye()" class="password-eye"></app-password-show>
    }@else{
    <app-password-hide [color]="'#000000'" (click)="passwordEye()" class="password-eye"></app-password-hide>
    }

    <!-- Invalid Text -->
    <div class="input-invalid-text-login">
      <span class="invalid-text"
        *ngIf="passwordInput.value != confirmPasswordInput.value || confirmPasswordValidator && confirmPasswordValidator.invalid && confirmPasswordValidator.touched">
        Password and Confirm password does not match
      </span>
    </div>
  </div>


  <!-- Remember Username or Password -->
  <div class="Reset-password-div">
    <button [appLoaderButtonDirective]="isLoading" class="Reset-password" 
    [disabled]="resetPasswordForm.invalid || passwordInput.value != confirmPasswordInput.value" 
    type="submit">Reset your password</button>
  </div>
</form>