:host {
  background-color: var(--main-background-color);
  width: 100%;
  margin-top: 80px;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-password-main {
  width: 70%;
  padding: 20px 10px 20px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  border: 1px solid black;
  background-color: rgb(178, 255, 144);
  border-radius: .6em;
  color: black;
}



.input-box {
  width: 60%;
  height: 60px;
  position: relative;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box-password {
  height: 120px;
}

.input-box input {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  outline: none;
  font-size: 20px;
  color:black;
}

.password-eye {
  cursor: pointer;
  position: absolute;
  top: -9px;
  right: 12px;
}


.input-box input:focus {
  box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 1);
}


.input-box input:disabled {
  background-color: rgb(121, 121, 121);
  border-bottom: transparent;
}


.input-box label {
  position: absolute;
  top: 2px;
  left: 0;
  pointer-events: none;
  transition: .3s;
  color:black
}

.input-box label.focused {
  top: -15px;
  font-size: 12px;
  color: #000000;
  /* Optional: Add a focused color */
  transition: .3s;
}

.input-invalid-text-login {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: flex-start;
}

.input-invalid-text-login-passoword {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.invalid-text {
  font-size: 14px;
  color: rgb(255, 82, 82);
}

.invalid-text {
  font-size: 14px;
  color: rgb(255, 82, 82);
}

.Reset-password-div{
  width: 60%;
  display: flex;
  justify-content: flex-end;
}


/* Login button styles */
.Reset-password {
  background-color: #14bdff; /* Vibrant blue */
  color: #262626; /* White text */
  border: 1px solid #000000; /* Darker blue border */
  padding: 5px;
}

.Reset-password:hover {
  background-color: #06bcff; /* Darker blue on hover */
  cursor: pointer;
}

.Reset-password:disabled {
  background-color: #deffdd; /* Muted gray for disabled state */
  color: #999; /* Light gray text for disabled state */
  cursor: not-allowed; /* Not-allowed cursor */
}

/* Button spacing */
.reset-form {
  margin-right: 10px; /* Space between the buttons */
}


@media(max-width:800px) {
  :host {
    margin-top: 0px;
  }

  .reset-password-main {
    width: 90%;
  }

  .Reset-password-div{
    width: 95%;
  }

  .input-box {
    width: 95%;
  }
}