:host {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.title{
  color:bisque;
  font-size: 20px;
}

.upper-part{
  height: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pfp-div{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.pfp-div img{
  width: 100%;
  border-radius: 50%;
  border: 4px solid #434343db;
  transition: .3s;
}

.pfp-div img:hover{
  transform: scale(1.05);
  transition: .3s;
}

.about-me-div{
  flex:1;
  height: 95%;
  background-color: #ffffff14;
  border-radius: .5rem;
  transition: .3s;
  margin-left: 20px;
}

.about-me-div:hover,
.field:hover {
  background-color: #ffffff37;
  transition: 0.3s;
  cursor: pointer;
}


.about-me{
  padding: 10px;
}

.lower-part{
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  padding-top: 20px;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.full-width {
  grid-template-columns: 1fr;
}

.field {
  padding: 8px;
  border-radius: 5px;
  background-color: #ffffff14;
  word-break: break-word;
}

@media(max-width:800px) {

  .upper-part{
    height: 100%;
    flex-direction: column;
    gap:10px;
  }

  .about-me-div{
    width: 100%;
    margin: 10px;
  }

  .lower-part{
    padding-bottom: 30px;
    padding-top: unset;
  }
  
  
  .row {
    grid-template-columns: repeat(1, 1fr);
  }
}