@if(($user | async); as user) {
  <div class="upper-part">
    <div class="pfp-div">
      <img [src]="user?.db_phofilePic" alt="cat">
    </div>
    <div class="about-me-div">
      <div class="about-me">
        <div class="title">About Me</div>
        <span>{{user?.db_aboutUser}}</span>
      </div>
    </div>
  </div>
  <div class="lower-part">
    <div class="row">
      <div class="field">
        <strong class="title">Username:</strong> {{ user.db_username }}
      </div>
      <div class="field">
        <strong  class="title"> Full Name:</strong> {{ user.db_fullname }}
      </div>
    </div>
  
    <div class="row">
      <div class="field">
        <strong  class="title">Email:</strong> {{ user.db_email }}
      </div>
      <div class="field">
        <strong  class="title">Phone:</strong> {{ user.db_phoneNumber }}
      </div>
    </div>
  
    <div class="row">
      <div class="field">
        <strong class="title">Gender:</strong> {{ user.db_gender }}
      </div>
      <div class="field">
        <strong class="title">Date of Birth:</strong> {{ user.db_dob }}
      </div>
    </div>
  
    <div class="row full-width">
      <div class="field">
        <strong class="title">Address:</strong> {{ user.db_address }}
      </div>
    </div>
  
    <div class="row">
      <div class="field">
        <strong class="title">Account Created:</strong> {{ user.db_dtecre.replace(' at', ' -') }}
      </div>
      <div class="field">
        <strong class="title">Last Modified:</strong> {{ user.db_dtemod.replace(' at', ' -')}}
      </div>
    </div>
  
    <div class="row full-width">
      <div class="field">
        <strong class="title">Last Login:</strong> {{ user.db_dteLastLogin.replace(' at', ' -') }}
      </div>
    </div>
  </div>
  } @else {
  <div>{{ ($error | async) }}</div>
  }