<div class="user-profile-left-main common-main" [class.fontColorChange]="isHovered()">
  <div class="left-section-main">
    <div class="pfp-username">
      <div class="pfp-username-sub">
        <img class="pfp" [src]="($user | async)?.db_phofilePic_100" alt="cat">
        <div class="username">
          <span class="username-span">&#64;username</span>
          <br>
          <div class="username-data-span">
            {{($user | async)?.db_username}}
          </div>
        </div>
      </div>
    </div>

    <div class="title-wrapper">
      @if(($user | async); as user) {
      <ng-container *ngFor="let field of fields">
        <div class="title">
          {{ field.label }}
        </div>
        <div class="title-data title-common" [ngClass]="field.class ? field.class : ''">
          {{ user[field.key] }}
        </div>
      </ng-container>
      } @else {
      <div>{{ ($error | async) }}</div>
      }
    </div>
    
  </div>
</div>
<div class="user-profile-right-main common-main" (mouseenter)="onHover(true)" (mouseleave)="onHover(false)">
  <div class="right-section-text">
    Welcome, {{ ($user | async)?.db_fullname }}!
    <br>
    Here's your profile.
  </div>
</div>
<div class="absolute-background"></div>