.hamburger {
  position: absolute;
  top: 50%;
  /* Position the top of the element at 50% of the container */
  right: 0;
  transform: translateY(-50%);
  margin: 0px 15px 0px 0px;
  width: 30px;
  cursor: pointer;
  display: none;
}


@media(max-width:800px) {
  .hamburger {
    display: block;
  }

  ::ng-deep .p-sidebar-icon {
    position: absolute;
    right:0;
    margin: 10px 10px 0px 0px;
  }

  ::ng-deep .p-sidebar-left{
    width: 200px;
  }

  ::ng-deep .p-divider {
    margin: 12px 0px 12px 0px;
  }

  ::ng-deep .p-sidebar {
    background-color: var(--main-background-color);;
  }

  ::ng-deep .p-divider-content {
    background-color: var(--main-background-color);;
  }

  ::ng-deep .font-semibold {
    position: absolute;
    left:0;
    margin: 10px 0px 0px 20px;
  }
  


 
  
  
}