@if(windowWidth() < 800){ <div class="sidebar-main" [class.open]="sidebarVisible()" #slider>

  <div class="sidebar-header">

  

    <div class="close-btn-sidebar">
      <app-close-button (click)="sidebarVisible.set(false)"></app-close-button>
    </div>

  </div>

  <div class="sidebar-content">
    <div class="sidebar-sub-content">
      <!-- Auth Buttons -->
      <div class="divider-text">
        <app-divider></app-divider>
      </div>
      <app-auth-buttons (closeSidebarEvent)="closeSidebar($event)"></app-auth-buttons>


      <!-- Post Buttons -->
      <div class="divider-text">
        <app-divider [text]="'My Posts'"></app-divider>
      </div>
      <app-post-buttons (closeSidebarEvent)="closeSidebar($event)"></app-post-buttons>


      <!-- Navigation Buttons -->
      <div class="divider-text">
        <app-divider [text]="'My Bits'"></app-divider>
      </div>
      <app-nav-buttons (closeSidebarEvent)="closeSidebar($event)"></app-nav-buttons>
      <div class="divider-text">
        <app-divider></app-divider>
      </div>

    </div>
  </div>


  </div>
  }


  @if(sidebarVisible() == false){
  <div class="hamburger-pfp">
    <app-pfp></app-pfp>
    <img src="assets/SVG/hamburger.svg"  (click)="toggleSidebar($event)"  class="hamburger" alt="hamburger_SVG">
  </div>

  }