.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}

.divider-text {
  position: absolute;
  background-color: transparent;
  padding: 0 10px;
  margin: 5px;
  background-color: var(--main-background-color);
}
