@if ($user | async; as user) {
  <h1>{{ user.db_fullname }}</h1>
  <p>Email: {{ user.db_email }}</p>
}



<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>

<p>all-users-posts works!</p>