/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import '@ctrl/ngx-emoji-mart/picker';



:root {
  --main-background-color: #505050;
  --header-main-color:#FAF2D3;
  --white: white;
  --black: black;
  --main-color:  #77CDFF;
  --secondary-color: #32aff7;
  --button-color-nav-main: #C9E6F0;
  --button-color-nav-secondary: #78B3CE;
  --footer-main-color:#243642;
  --footer-secondary-color:#ffba39;
  --post-button-primary-color: #BFEA7C;
  --post-button-secondary-color: #92d139;
  --main-content-color:#2f2f2f;
  --scroll-hover-color:#373737;
  --scroll-hover-stick-color:#b8b8b8;
}



*{
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  scrollbar-width: thin;
  color:white;
}

/* CSS for embedding link */
.embedded-link{
  color:rgb(0, 0, 0);
  background-color: rgb(177, 234, 255);
  border-radius: 5px;
  padding: 2px 2px 0px 2px;
}

/* CSS for Post uploaded images */
.post-image{
  width: 300px;
  border-radius: 5px;
  border: 2px solid var(--footer-main-color);
}