:host{
  margin: 0;
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100%; 
}



.content-wrapper {
  display: flex;
  flex: 1; /* Take the remaining space below the header */
  margin-top: 60px; /* Same height as the header */
  height: calc(100vh - 60px); /* Adjust height for header */
}

.sidebar {
  width: 250px; /* Sidebar width */
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed; /* Keeps sidebar fixed */
  top: 60px; /* Offset to appear below the header */
  height: calc(100vh - 60px); /* Adjust height for header */
  overflow-y: auto; /* Scroll if content overflows */
}

.main-content {
  margin-left: 250px; /* Same width as sidebar */
  padding: 20px;
  background-color: #fff;
  overflow-y: auto; /* Enable scrolling for main content */
  height: calc(100vh - 60px); /* Adjust height for header */
  box-sizing: border-box;
  flex: 1; /* Take remaining width */
}


p{
  color:black;
}