:host {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px 25px 15px 0px;
  cursor: default;
  z-index: 100;
}

.footer {
  color: var(--white);
}

.footer span {
  color: var(--footer-secondary-color);
  cursor: pointer;
}

.footer span::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--footer-secondary-color);
  transition: width 0.5s ease-in-out;
}


span:hover {
  color: rgb(255, 255, 255);
}

.footer span:hover::before {
  width: 50%;
}

@media(max-width:800px) {
  .footer {
    font-size: 15px;
  }

}