:host{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0px 15px 15px 0px;
  cursor: default;
}

h3{
  color: var(--footer-main-color);
}

h3 span{
  color: var(--footer-secondary-color);
  cursor: pointer;
}

h3 span::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--footer-secondary-color);
  transition: width 0.5s ease-in-out;
}


span:hover {
  color: rgb(255, 255, 255);
}

h3 span:hover::before {
  width: 50%;
}