@if(($user | async); as user){
  <div class="profilepic">
    <img class="pfp" [src]="user.db_phofilePic_100" [alt]="user.db_username">
  </div>
  <div class="user-fullname-and-visibility">
    <div class="user-fullname">
      {{user.db_fullname}}
    </div>
    <div class="visibility">
      <select [disabled]="postManagerService.post_fields_disabled_status()" id="visibility" class="visibility-select-box" [(ngModel)]="selectedVisibility"
        (ngModelChange)="onVisibilityChange()">
        <option *ngFor="let option of visibilityOptions" [value]="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>
  </div>
}
@else {
  <div>{{($error | async)}}</div>
}
