<div class="profilepic">
  <p-avatar 
  image="https://primefaces.org/cdn/primeng/images/demo/avatar/walter.jpg"  
  styleClass="mr-2" size="xlarge" shape="circle" />
</div>
<div class="user-fullname-and-visibility">
  <div class="user-fullname">
    Rony Chowdhury
  </div>
  <div class="visibility">
    <select id="visibility" class="visibility-select-box" [(ngModel)]="selectedVisibility">
      <option *ngFor="let option of visibilityOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>
</div>